html,body,h1,p,div,a,ul,ol,input{
	margin: 0px;
	padding: 0px;
}
ul,ol{	list-style-type: none;}

html{
	font-size: 100px;
	background-color: black;
	-webkit-font-smoothing:antialiased;
}
body{
	font-family: "Microsoft YaHei",sans-serif;
	color: white;
	text-align: center;
}


/*fire*/
.fire-text{
	margin:2rem auto;
	position: relative;
	display: inline-block;
	padding: .1rem .5rem;
}
.fire-text .text{
	color:darkred;
	font-size: 1rem;
	font-weight: bolder;
}

.fire {
  font-size: .2rem;
  width: 100%;
  height: 100%;
	position: absolute;
	top:0;
	left:0;
	filter: blur(.01em);
	mix-blend-mode:hard-light;
}

.particle {
	position: absolute;
  bottom: 0;
	width: 0;
  height:0;
  background-image:
		radial-gradient(#ff5000 20%, rgba(255, 80, 0, 0) 70%);
  border-radius: 50%;
  mix-blend-mode: screen;
  opacity: 0;
	left:0;
	animation: riseup 1s ease-in infinite;
	transition: width 2s,height 2s;
}
.fire.burning>.particle{
	width: 2em;
  height:2em;
	transition: width 2s,height 2s;
}
.particle:nth-child(1){
	display: none;
}

@keyframes riseup {
  from {
    opacity: 0;
    transform:  translateX(-50%) scale(1);
		bottom:20%;
  }
  25% {
    opacity: 1;
  }
  to {
    opacity: 0;
		bottom:90%;
    transform: translateX(-50%) scale(0);
  }
}
