html,body,h1,p,div,a,ul,ol,input{
	margin: 0px;
	padding: 0px;
}
ul,ol{	list-style-type: none;}

html{
	font-size: 100px;
	background-color: black;
	-webkit-font-smoothing:antialiased;
	font-family: "Microsoft YaHei",sans-serif;
	color: white;
	text-align: center;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bg{
	width: 1000px;
	height: 800px;
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.pieces{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform-style: preserve-3d;
}
.piece{
	position: absolute;
	background: url(bg1.jpg) center/1000px 800px no-repeat;
	box-shadow: 0 0 10px 2px black;
}

.piece.out{
	transition: left 1s ease-out;
}
.piece.in{
	transition: left 1s ease-in;
}
