html{
  font-size: 100px;
  font-family: "Microsolf YaHei",sans-serif;
  background: black;
  text-align: center;
}

.path-show{
  stroke:red;
  stroke-width:6;
  fill:none;
}
.text{
  stroke:yellow;
  stroke-width:1px;
  fill:black;
  font-size: 50;
  text-anchor: middle;
}
