html{
  font-size: 100px;
  font-family: "Microsolf YaHei",sans-serif;
  background: black;
  text-align: center;
}

.text-circle{
  stroke:none;
  fill:yellow;
  font-size: 20;
}
.circle-path-show{
  stroke:red;
  stroke-width:2;
  fill:none;
}

.wave-path-show{
  stroke:red;
  stroke-width:6;
  fill:none;
}
.text-wave{
  stroke:yellow;
  stroke-width:1px;
  fill:black;
  font-size: 50;
  text-anchor: middle;
}
