@font-face {
  font-family: Pacifico;
  src:url(Pacifico.ttf);
}
html{
  font-size: 100px;
  font-family: "Microsolf YaHei",sans-serif;
  background: #222;
  text-align: center;
}
.page{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-around;
  text-align: center;
}

.path{
  stroke-dasharray:600;
  stroke-dashoffset:-600;
  animation: stroke 5s linear infinite;
}
@keyframes stroke {
  to{
    stroke-dashoffset:0;
  }
}
.path-group{
  /* width:100%;
  height: 100%; */
  /* stroke:yellow;
  stroke-width:20px; */
  fill:none;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-dasharray:1000;
  stroke-dashoffset:1000;
  animation: strokeText 5s linear infinite both;
}
.path-group-1{
  stroke:yellow;
  stroke-width:20px;
}
.path-group-2{
  stroke:blue;
  stroke-width:10px;
  animation-delay: 1s;
}

@keyframes strokeText {
  to{
    stroke-dashoffset:0;
  }
}
