html,body,h1,p,div,a,ul,ol,input{
	margin: 0px;
	padding: 0px;
}
ul,ol{	list-style-type: none;}

html{
	font-size: 100px;
	background-color: black;
	-webkit-font-smoothing:antialiased;
	font-family: "Microsoft YaHei",sans-serif;
	color: white;
	text-align: center;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bg{
	width: 100%;
	height: auto;
	position: fixed;
	top:0%;
	left: 0%;
}
.bg .size{
	width: 100%;
	height: auto;
	visibility: hidden;
}

.box,.set,.pic{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.piece{
	position: absolute;
}
.set{
	z-index: 1;
}
.pic{
	z-index: 2;
}
.set .piece{
	transform: rotate(0);
	background:url(bg2.jpg) center/400px 400px no-repeat;
	transition: alll 0s 0s;
}
.box.fall .set{
	z-index: 2;
}
.box.fall .pic{
	z-index: 1;
}
.box.fall .piece{
	animation:
		fall 1s ease-in forwards,
		color 2s both ease-in;
	transition: transform 1s ease-in;
}
@keyframes color {
	to{
		filter:sepia(1);
	};
}
@keyframes  fall{
	from{
		box-shadow: 1px 1px 10px white;
	}
	to{
		top:110%;
	}
}
