@font-face {
  font-family: Pacifico;
  src:url(Pacifico.ttf);
}
html{
  font-size: 100px;
  font-family: Georgia,"Microsolf YaHei",sans-serif;
  background: #222;
  text-align: center;
}
.page{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-around;
  text-align: center;
}


.svg-defs{
  position: absolute;
  top:-9999px;
}
/*  css background-clip */
.css-bg-clip{
  font-weight: bold;
  font-size: 1.5rem;
  background: url("./sunflowers.jpg") center center/130% auto no-repeat;
  color:transparent;
  -webkit-background-clip:text;
}
/*  svg  mask for svg*/
.mask-rect{
  fill:black;
}
.mask-text{
  font-size: 150;
  font-weight: bold;
  text-anchor:middle;
  dominant-baseline:baseline;
  fill:white;
}
.svg-mask-for-svg .svg-image{
  fill:#222;
  mask:url(#mask);
}
/* clip path for html*/
.clippath-text{
  font-size: 150;
  font-weight: bold;
  text-anchor:middle;
  dominant-baseline:central;
  fill:black;
}
.svg-clip-path-for-html{
  width: 8rem;
  height: 1.5rem;
  background: url("./sunflowers.jpg") center center/130% auto no-repeat;
  clip-path:url(#clippath-svg);
}
/* clip path for svg*/
.svg-clip-path-for-svg{
  width: 8rem;
  height: 1.5rem;
  /* clip-path:url(#clippath-svg); */
}
.svg-clip-path-for-svg image{
  clip-path:url(#clippath-svg);
}
/* svg text fill with svg pattern */
.svg-text-fill .fill-text{
  font-size: 150;
  font-weight: bold;
  text-anchor:middle;
  dominant-baseline:baseline;
  fill:url(#pattern);
}
/* css mix-blend-mode*/
.css-mix-blend-mode{
  font-size: 1.5rem;
  font-weight: bold;
  width:8rem;
  height: 1.5rem;
  background:url("./sunflowers.jpg") center center/130% auto no-repeat;
}
.css-mix-blend-mode .text{
  color:white;
  margin:0;
  mix-blend-mode:darken;
  background-color: #222;
}
