html,body,h1,p,div,a,ul,ol,input{
	margin: 0px;	padding: 0px;
}
ul,ol{	list-style-type: none;}

html{
	font-size: 100px;
	background-color: black;
}
body{
	font-family: "Microsoft YaHei",sans-serif;
	font-size: 0.12rem;
}

h1{
		position: relative;
		z-index: 1;
		font-size: .6rem;
		color:#4a5dbd;
		width:10.5em;
		height: 2.5em;
		margin: 1em auto .5em auto;
		border: .3em solid rgba(60,60,60,.5);
		border-top: none;
		border-left: none;
		line-height: 2.5em;
		text-indent: 2em;
}

h1 img{
	position: absolute;
	display: block;
	left:0%;top:0%;
	width: 2em;
	z-index: 2;
}
h1 img.drag{
}
